#header {
  padding: 0;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  background: var(--Colors-Secondary-orange-50);
  border-radius: 16px;
  z-index: 100;
}

.navigation {
  position: relative;
  padding: 12px 12px 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Colors-Neutral-neutral-100);
  background: var(--Colors-Neutral-neutral-0);
  z-index: 150;
}

.navigation-left_wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation-links_wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navigation-link {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  color: var(--Colors-Neutral-neutral-800);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  &:hover {
    text-decoration: underline;
  }
}

.navigation-right_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  .link {
    padding: 8px 16px;
    border-radius: 80px;
  }

  .link p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }
}

.navigation-search_wrapper,
.navigation-burger_wrapper {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1.5px solid var(--Colors-Neutral-neutral-200);
}

.modal {
  position: absolute;
  background: var(--Colors-Secondary-orange-50);
  width: 100vw;
  height: 100vh;
  top: -20px;
  left: -20px;
  z-index: 50;

  .modal_wrapper {
    margin-top: 87px;
    height: calc(100% - 87px);
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal_title {
    padding: 20px 0;
    color: var(--Colors-Neutral-neutral-800);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }

  .modal-navigation_list .level_1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }

  .modal-bottom_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .link {
      width: 100%;
    }
  }
}

.header_desktop {
  display: none;
}

@media (min-width: 1350px) {
  #header header {
    padding: 0;
    width: calc(100% - 40px);
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    max-width: 1400px;
  }

  .header_mobile {
    display: none !important;
  }

  .header_desktop {
    display: flex;
  }
}
