.section_slider_v4-main_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 20px;
    align-items: center;
}

.section_slider_v4-top_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section_slider_v4-info_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section_slider_v4-title {
    color: var(--Colors-Neutral-neutral-800);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.4px;
}

.section_slider_v4-description {
    color: var(--Colors-Neutral-neutral-800);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.custom_arrow  {
    padding: 12px;
    width: 52px;
    height: 52px;
}

.section_slider_v4-splide_wrapper {
    width: 100%;
}

.section_slider_v4-splide_wrapper {
    .splide__slide {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid var(--Colors-Neutral-neutral-100);

        img {
            border-radius: 20px 20px 0 0;
        }
    }

    .slide_info {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .slide_info-text_box {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .slide_info-headline {
        color: var(--Colors-Neutral-neutral-800);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.4px;
    }

    .slide_info-description {
        color: var(--Colors-Neutral-neutral-800);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
}

@media (min-width: 768px) {
    .section_slider_v4 {
        padding: 0 20px;
    }

    .section_slider_v4-main_wrapper {
        gap: 48px;
        padding: 120px 130px;
    }

    .section_slider_v4-info_box {
        max-width: 56.1%;
        align-items: start;
    }

    .section_slider_v4-title {
        text-align: start;
        font-size: 32px;
        line-height: 40px; /* 125% */
    }

    .section_slider_v4-description {
        text-align: start;
    }

    .section_slider_v4-splide_wrapper {
        .slide_info, .slide_info-text_box {
            gap: 8px;
        }
    }
}