@import 'fonts';

:root {
  --header-height-desktop: 100px;
  --header-height-mobile: 95px;
  --Colors-Neutral-neutral-800: #1a0a03;
  --Colors-Primary-primary-500: #4660e9;
  --Colors-Neutral-neutral-0: #fff;
  --Colors-Neutral-neutral-100: #ede8e0;
  --Colors-Neutral-neutral-200: #d9d4cd;
  --Colors-Secondary-orange-50: #fff9f1;
  --Colors-Neutral-neutral-700: #44403c;
  --Colors-Supporting-yellow: #fdf300;
  --Colors-Supporting-pastel-yellow: #fffdd0;
  --Colors-Supporting-pastel-deepblue: #d0b2ff;
  --Colors-Supporting-pastel-purple: #e7d9ff;
  --Colors-Secondary-orange-700: #cc4e05;
  --Colors-Neutral-neutral-400: #867f7c;
  --Colors-Primary-primary-100: #dadffb;
  --diggies-colors-functional-true-neon-green-500: #1cd74a;
  --Colors-Neutral-neutral-600: #57534f;
  --Colors-Neutral-neutral-50: #f7f2ea;
  --Colors-Neutral-neutral-300: #a8a29d;
  --Colors-Supporting-pastel-pink: #ffdef6;
  --diggies-colors-functional-false-mustard-300: #ffec99;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background: var(--Colors-Secondary-orange-50);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  width: fit-content;
}

li {
  list-style-type: none;
}

a {
  width: fit-content;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.mod_navigation a.sibling {
  padding: 4px 8px;
  color: var(--Colors-Neutral-neutral-800);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  &:hover {
    text-decoration: underline;
  }
}

.mod_navigation .level_2 {
  display: none;
}

button {
  cursor: pointer;
}

.mod_article {
  padding-top: var(--header-height-mobile);

  @media (min-width: 768px) {
    padding-top: var(--header-height-desktop);
  }
}

.white_section {
  background: var(--Colors-Neutral-neutral-0) !important;
  border: none;
}

@media (min-width: 768px) {
  // section {
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  // section > div:not(.section_banner-banner_wrapper) {
  //   padding-left: 0;
  //   padding-right: 0;
  //   margin: 0 auto;
  //   width: calc(100% - 260px);
  //   max-width: 1400px;
  // }

  .content-image,
  .content-text {
      margin: 0 auto;
      width: calc(100% - 260px);
      max-width: 1400px;
  }

  .media--right,
  .media--left {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: start !important;
    gap: 20px !important;

    h2 {
      width: 100% !important;
    }

    figure {
      width: calc(50% - 20px) !important;
    }

    .rte {
      width: 50% !important;
    }
  }
}

.white_bg {
  border-radius: 24px;
  background: var(--Colors-Neutral-neutral-0);
}

.rose {
  background-color: var(--Colors-Supporting-pastel-pink);
}
.yellow {
  background-color: var(--diggies-colors-functional-false-mustard-300);
}
.violett {
  background-color: var(--Colors-Supporting-pastel-purple);
}

.no-br {
  border: transparent;
}

.in-row {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.invisible {
  display: none;
}

.level_1 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.is-hidden {
  display: none !important;
}

.is-hidden-mobile {
  display: none !important;
}

.underline {
  text-decoration: underline;
}

// >>>>>>>>>>>>>>>>> Grid Templates

#grid_1,
#grid_2,
#grid_3,
#grid_4,
#grid_5 {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  #grid_1 {
    grid-template-columns: repeat(1, 1fr);
  }
  #grid_2 {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid_3 {
    grid-template-columns: repeat(3, 1fr);
  }
  #grid_4 {
    grid-template-columns: repeat(4, 1fr);
  }
  #grid_5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Buttons

.link,
.primary_link,
.secondary_link,
.transparent_link {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 80px;
  background: var(--Colors-Primary-primary-500);
  border: 1px solid transparent;

  .primary_link-text,
  .secondary_link-text,
  .-text {
    color: var(--Colors-Neutral-neutral-0);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  img {
    width: 24px;
    height: 24px;
  }

  svg {
    path {
      fill: #fff;
    }
  }

  &:hover {
    border: 1px solid var(--Colors-Primary-primary-500);
    background: #ffffff;

    .primary_link-text,
    .-text {
      color: var(--Colors-Primary-primary-500);
    }

    svg {
      path {
        fill: var(--Colors-Primary-primary-500);
      }
    }
  }
}

.secondary_link {
  border: 1px solid var(--Colors-Primary-primary-500);
  background: #ffffff;

  .secondary_link-text {
    color: var(--Colors-Primary-primary-500);
  }

  img {
    width: 24px;
    height: 24px;
  }

  svg {
    path {
      fill: var(--Colors-Primary-primary-500);
    }
  }

  &:hover {
    border: 1px solid transparent;
    background: var(--Colors-Primary-primary-500);

    .secondary_link-text {
      color: #ffffff;
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.transparent_link {
  background-color: transparent;
  border: 1px solid var(--Colors-Primary-primary-500);

  .transparent_link-text {
    color: var(--Colors-Primary-primary-500);
  }

  img {
    width: 24px;
    height: 24px;
  }

  svg {
    path {
      fill: var(--Colors-Primary-primary-500);
    }
  }

  &:hover {
    border: 1px solid transparent;
    background: var(--Colors-Primary-primary-500);

    .transparent_link-text {
      color: #ffffff;
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

// >>>>>>>>>>>>>> Default Styles for Image, Video, Gallery Sections

.content-text,
.content-image,
.content-hyperlink,
.content-download,
.content-downloads,
.content-gallery,
.content-youtube,
.content-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;

  h2 {
    color: var(--basics-black);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.48px;
  }

  .rte {
    width: 100%;
  }

  p {
    color: var(--basics-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  figure {
    width: 100%;
    margin: 0;
  }

  a {
    width: 100%;
    padding-bottom: 10px;
  }

  ul {
    li {
      list-style-type: none;
    }
  }

  img {
    object-fit: contain;
    width: 100%;
    height: fit-content;
  }

  iframe {
    width: 100%;
    aspect-ratio: 2/1.2;
  }

  table {
    border-spacing: 20px 0;
  }

  th {
    padding-bottom: 10px;
    text-align: start;
    color: var(--Colors-Neutral-Greyscale-Grey-500);
    font-weight: 600;
  }

  // th::after {
  //   content: "";
  //   display: inline-block;
  //   width: 25px;
  //   height: 20px;
  //   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'><path d='M10.3627 9.65234C9.15111 9.65234 8.54529 9.65234 8.26477 9.89194C8.02136 10.0998 7.89218 10.4117 7.9173 10.7308C7.94624 11.0986 8.37462 11.527 9.23137 12.3837L11.3686 14.521C11.7646 14.917 11.9627 15.115 12.191 15.1892C12.3918 15.2544 12.6082 15.2544 12.809 15.1892C13.0373 15.115 13.2354 14.917 13.6314 14.521L15.7686 12.3837C16.6254 11.527 17.0538 11.0986 17.0827 10.7308C17.1078 10.4117 16.9786 10.0998 16.7352 9.89194C16.4547 9.65234 15.8489 9.65234 14.6373 9.65234H10.3627Z' fill='%2376769E'/></svg>");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }

  td {
    padding: 16px 0;
    border-top: 1px solid var(--Colors-Neutral-Greyscale-Grey-300);
    font-weight: 400;
  }

  th,
  td {
    overflow: hidden;
    color: var(--Colors-Neutral-Black);
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 1.5;
  }
}

.content-table {
  display: none;
}

.content-hyperlink {
  figure {
    display: flex;
    align-items: center;
    margin: 0;

    a {
      width: fit-content;
      padding: 0;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.content-downloads {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a:focus-visible,
  a:hover {
    color: var(--Colors-Colorscales-Orangescale-Orange-500);
  }
}

@media (min-width: 768px) {
  .content-text,
  .content-image,
  .content-hyperlink,
  .content-download,
  .content-downloads,
  .content-gallery,
  .content-youtube,
  .content-table {
    padding: 44px 0;

    h2 {
      font-size: 32px;
      line-height: 1.2;
    }

    figure {
      margin: auto;
      width: 60%;
    }

    .rte {
      width: 50%;
    }
  }

  .content-text,
  .media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: fit-content;
    }

    figure {
      width: calc(50% - 50px);
      margin: 0;
    }

    .rte {
      width: 50%;
    }
  }

  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-text.media--right {
    figure {
      order: 1 !important;
    }
  }

  .content-table {
    display: inherit;
  }

  .content-youtube {
    iframe {
      width: 100%;

      aspect-ratio: 2/1;
    }
  }

  .content-hyperlink {
    figure {
      display: flex;
      align-items: center;
      margin: 0;

      a {
        width: fit-content;
        padding: 0;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.content-gallery {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 10px;

    li {
      width: 400px;
    }

    figure {
      width: 100%;
      margin: 0;
    }

    a {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.media--below,
.media--above {
  flex-direction: column;
  align-items: center;

  figure {
    width: 70%;
  }

  .rte {
    width: 100%;
  }
}

// >>>>>>>>>>>>>> Slide Custom Arrows

.custom_arrows {
  display: flex;
  gap: 12px;
}

.custom_arrow {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  aspect-ratio: 1 / 1;
  border: none;
  outline: none;
  background: var(--Colors-Primary-primary-500) !important;
  opacity: 1 !important;

  svg {
    path {
      fill: #ffffff;
      transition: 0.6s;
    }
  }
}

.custom_arrow:disabled,
.custom_arrow:active {
  background: var(--Colors-Neutral-neutral-100) !important;

  svg {
    path {
      fill: #57534f;
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>> Slider

.splide__slide {
  .splide-img {
    width: 100%;
  }
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .is-hidden-mobile {
    display: flex !important;
  }

  .desktop {
    display: flex;
  }

  .desktop_block {
    display: block;
  }

  .mobile {
    display: none;
  }
}
